import sdk from "./preload/sdk";
import settings from "./preload/settings";
import logger from "./preload/logger";

import { remote } from "electron";

const <%= pkgSafeName %> = { sdk, settings, logger };

process.once("loaded", () => {
    const window: any = global;
    window.<%= pkgSafeName %> = <%= pkgSafeName %>;

    if (remote.getGlobal("DEBUG")) {
        window.__devtron = { require, process };
    }
});
